[submodule "themes/kiss"]
	path = themes/kiss
	url = https://github.com/ribice/kiss.git
[submodule "jared-prime.github.io"]
	path = jared-prime.github.io
	url = https://github.com/jared-prime/jared-prime.github.io.git
	branch = master
