<header id="top-header">
  <h1><a href="/">haiqus</a></h1> <h2><a href="/about">about</a> <a href="/index">blog</a></h2>
  <hr />
</header>
<section>
<h1>My name is Jared</h1>
<div id='gravatar'></div>
  <p>Besides amatuerishly writing poetry from time to time, I professionally write code on a daily basis.
  I am self-taught in the web-languages CSS and HTML, the scripting languages JavaScript and Ruby.
  </p>
</section>
<section id='resume'></section>
