<section id="bookshelf">
  <h3>Now Reading</h3>
  <ul>
    <li>All of Statistics</li>
    <li>Linear Algebra Done Right</li>
  </ul>
</section>
<section id="links">
  <ul>
    <% for link in links %>
      <li><a href="<%= link.link %>" title="<%= link.long_url %>"><%= link.title %></a></li>
    <% end %>
  </ul>
</section>
