<blockquote class="epigraph">
  touch sixty-four keys --<br />
  transistors turn on, off<br />
  thoughts become electric
</blockquote>
<a class="entrance-button" href='/about'>about</a>
<a class="entrance-button" href='/blog'>blog</a>
