<section id="articles">
  <% for article in @articles %>
    <article class="sample">
      <h1 class="title"><a class="permalink" href="blog/<%= article.slug %>"><%= article.title %></a></h1>
      <span class="date"><%= Date.parse(article.date).strftime("%b %e, %Y") %></span>
      <hr />
      <%= article.summary %>
    </article>
  <% end %>
</section>

