/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p392@haiqus/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p392@haiqus/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p392@haiqus/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p392@haiqus/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p392@haiqus/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p392@haiqus/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p392@haiqus/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p392@haiqus/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p392@haiqus/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../haiqus-stylesheets/sass/_main.scss */
html {
  margin: 20px;
}

/* line 5, ../../haiqus-stylesheets/sass/_main.scss */
body {
  margin: 0 auto;
  padding: 0;
}
@media screen and (min-width: 720px) and (max-width: 1280px) {
  /* line 5, ../../haiqus-stylesheets/sass/_main.scss */
  body {
    max-width: 720px;
  }
}
@media screen and (min-width: 360px) and (max-width: 720px) {
  /* line 5, ../../haiqus-stylesheets/sass/_main.scss */
  body {
    max-width: 360px;
    font-size: 80%;
  }
}
@media screen and (max-width: 360px) {
  /* line 5, ../../haiqus-stylesheets/sass/_main.scss */
  body {
    max-width: 300px;
    font-size: 60%;
  }
}

/* line 11, ../../haiqus-stylesheets/sass/_main.scss */
section[role="main"] {
  margin: 4em 0 0;
}

/* line 15, ../../haiqus-stylesheets/sass/_main.scss */
footer {
  float: left;
  clear: both;
  margin: 1em 0 0;
}
@media screen and (min-width: 720px) and (max-width: 1280px) {
  /* line 15, ../../haiqus-stylesheets/sass/_main.scss */
  footer {
    max-width: 720px;
  }
}
@media screen and (min-width: 360px) and (max-width: 720px) {
  /* line 15, ../../haiqus-stylesheets/sass/_main.scss */
  footer {
    max-width: 360px;
    font-size: 80%;
  }
}
@media screen and (max-width: 360px) {
  /* line 15, ../../haiqus-stylesheets/sass/_main.scss */
  footer {
    max-width: 300px;
    font-size: 60%;
  }
}

/* line 22, ../../haiqus-stylesheets/sass/_main.scss */
#about {
  width: 100%;
}

/* line 26, ../../haiqus-stylesheets/sass/_main.scss */
#top-header {
  padding: 1.4em 0 1em;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background: white;
  border-bottom: 1px solid #999999;
  box-shadow: #e8effb;
}
@media screen and (min-width: 720px) and (max-width: 1280px) {
  /* line 26, ../../haiqus-stylesheets/sass/_main.scss */
  #top-header {
    max-width: 720px;
  }
}
@media screen and (min-width: 360px) and (max-width: 720px) {
  /* line 26, ../../haiqus-stylesheets/sass/_main.scss */
  #top-header {
    max-width: 360px;
    font-size: 80%;
  }
}
@media screen and (max-width: 360px) {
  /* line 26, ../../haiqus-stylesheets/sass/_main.scss */
  #top-header {
    max-width: 300px;
    font-size: 60%;
  }
}

/* line 38, ../../haiqus-stylesheets/sass/_main.scss */
#gravatar {
  padding: 16px 32px 16px 32px;
  float: left;
}

/* line 43, ../../haiqus-stylesheets/sass/_main.scss */
.title {
  margin: 0 0 1em;
  float: left;
}

/* line 48, ../../haiqus-stylesheets/sass/_main.scss */
.date {
  margin: 0 0 1em;
  float: right;
}

/* line 53, ../../haiqus-stylesheets/sass/_main.scss */
.epigraph {
  text-align: center;
}

/* line 57, ../../haiqus-stylesheets/sass/_main.scss */
.entrance-button {
  width: 50%;
  padding: 0;
  float: left;
  text-align: center;
}

/* line 1, ../../haiqus-stylesheets/sass/_typo.scss */
html {
  font-family: "Sanchez";
  font-size: 20px;
  line-height: 1.67em;
  color: #4d4d4d;
}

/* line 7, ../../haiqus-stylesheets/sass/_typo.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  float: left;
}

/* line 12, ../../haiqus-stylesheets/sass/_typo.scss */
h1 {
  font-size: 1.2em;
}

/* line 16, ../../haiqus-stylesheets/sass/_typo.scss */
a {
  color: #b53131;
  padding: 0.2em;
  cursor: pointer;
}
/* line 21, ../../haiqus-stylesheets/sass/_typo.scss */
h1 a:hover, h2 a:hover, a:hover {
  color: white;
  background-color: #b83000;
  opacity: 0.6;
  border-radius: 0.3em;
}
/* line 28, ../../haiqus-stylesheets/sass/_typo.scss */
h1 a {
  position: relative;
  left: -0.2em;
}

/* line 34, ../../haiqus-stylesheets/sass/_typo.scss */
pre {
  margin: 1em;
  padding: 1em;
  overflow-x: scroll;
  background-color: #e8effb;
}

/* line 41, ../../haiqus-stylesheets/sass/_typo.scss */
code {
  font-size: 0.8em;
  line-height: 1.336em;
  font-family: 'Anonymous Pro', 'Bitstream Vera Sans', 'Monaco', Courier;
}

/* line 47, ../../haiqus-stylesheets/sass/_typo.scss */
p, ul {
  margin: 0.835em;
}

/* line 51, ../../haiqus-stylesheets/sass/_typo.scss */
li {
  padding: 0.3em 1.2em;
  list-style: none;
  text-indent: -0.8em;
}
/* line 55, ../../haiqus-stylesheets/sass/_typo.scss */
li:hover {
  background-color: #e8effb;
  border-radius: 0.3em;
}
/* line 58, ../../haiqus-stylesheets/sass/_typo.scss */
li:hover:before {
  content: '\7E\A0\A0';
}
/* line 62, ../../haiqus-stylesheets/sass/_typo.scss */
li:before {
  content: '\BB\A0\A0';
}

/* line 67, ../../haiqus-stylesheets/sass/_typo.scss */
hr {
  clear: both;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #999999;
}

/* line 76, ../../haiqus-stylesheets/sass/_typo.scss */
#top-header a {
  color: #999999;
  text-decoration: none;
}
/* line 79, ../../haiqus-stylesheets/sass/_typo.scss */
#top-header a:hover {
  color: white;
}
/* line 83, ../../haiqus-stylesheets/sass/_typo.scss */
#top-header h1 {
  font-size: 2em;
  line-height: 0.5em;
}

/* line 89, ../../haiqus-stylesheets/sass/_typo.scss */
.active-link {
  color: #b53131 !important;
}

/* line 93, ../../haiqus-stylesheets/sass/_typo.scss */
.title a {
  text-decoration: none;
}
/* line 95, ../../haiqus-stylesheets/sass/_typo.scss */
.title a:hover {
  color: #b53131 !important;
  background: none;
  text-decoration: underline;
}

/* line 102, ../../haiqus-stylesheets/sass/_typo.scss */
.link-list a {
  color: black;
  text-decoration: none;
}

/* line 107, ../../haiqus-stylesheets/sass/_typo.scss */
.link-list li:hover, .link-list a:hover {
  color: #b53131;
  background-color: #e8effb;
  opacity: 1;
  border-radius: 0.3em;
  cursor: pointer;
}

/* line 115, ../../haiqus-stylesheets/sass/_typo.scss */
.back-link {
  padding: 0;
  color: #999999;
  text-decoration: none;
  position: absolute;
  left: 10em;
  top: 8em;
  font-size: 0.5em;
}
/* line 123, ../../haiqus-stylesheets/sass/_typo.scss */
.back-link:hover {
  color: #b53131;
  background: none;
}

/* line 129, ../../haiqus-stylesheets/sass/_typo.scss */
.large {
  font-size: 3em;
  line-height: 1em;
  padding-left: 0;
}

/* line 135, ../../haiqus-stylesheets/sass/_typo.scss */
.date {
  font-style: italic;
  color: #999999;
}

/* line 140, ../../haiqus-stylesheets/sass/_typo.scss */
.sample {
  padding: 1em;
}
/* line 142, ../../haiqus-stylesheets/sass/_typo.scss */
.sample:hover {
  background-color: #e8effb;
  cursor: pointer;
  border-radius: 0.3em;
}
