$computer: "screen and (min-width: 720px) and (max-width: 1280px)";
$tablet: "screen and (min-width: 360px) and (max-width: 720px)";
$phone: "screen and (max-width: 360px)";

$base-max: 720px;

@mixin responsive-width($max:$base-max) {
  @media #{$computer} {
    max-width: $max;
  }
  @media #{$tablet} {
    max-width: ($max / 2);
    font-size:80%;
  }
  @media #{$phone} {
    max-width: (($max / 2) - ($max / 12));
    font-size:60%;
  }
}

body {
  margin: 0 auto;
  padding: 0;
  @include responsive-width;
}

section {
  min-height:100%;
}

header, footer, section, article {
  width:100%;
  display: block;
  clear:both;
}

footer {
  float:left;
  clear:both;
  @include responsive-width;
}

#entrance {
  position:relative;
  width:140%;
  right:20%;
  blockquote {
    position:relative;
    width:100%;
    clear:both;
    text-align:center;
  };
  a {
    position:relative;
    width:33%;
    margin-left:8.25%;
    margin-right:8.25%;
    float:left;
    text-align:center;
  }
}

#top-header {
  margin-bottom: 18px;
}

.comments {
  margin-top:4em;
}

#about {
  #gravatar {
    padding:16px 32px 16px 32px;
    float:left;
  }
  p {
    float:left;
    margin-top:1em;
  }
  h1 {
    position:relative;
    top:10px;
  }
  span{ padding-left:.5em; }
  span[itemprop="name"] {
    font-size:3em;
    line-height:1em;
    padding-left:0;
  }
}
