body {
  margin: 0 auto;
  padding: 15px;
  width: 720px;
}
header, footer, section, article {
  width:100%;
  display: block;
}

footer {
  margin-left: 10px;
  float:left;
  clear:both;
}

#entrance {
  width:100%;
  blockquote {
    margin-left:34%;
    margin-bottom:30px;
    float:left;
    clear:both;
  };
  a {
    width:50%;
    float:left;
    text-align:center;
  }
}

