html {
  font-family:$font;
  font-size:$base-size;
  line-height:$base-height;
  color:lighten(black,30);
}
h1,h2,h3,h4,h5,h6 {
  margin:0;
  float:left;
}

h1 {
  font-size:1.2em;
}

a {
  color:$orange;
  padding:0.2em;
  cursor:pointer;
  h1 &, h2 &, & {
    &:hover {
      color:white;
      background-color:$salmon;
      opacity:0.6;
      border-radius:0.3em;
    }
  }
  h1 & {
    position:relative;
    left:-0.2em;
  }
}

pre {
  margin: 1em;
  padding: 1em;
  overflow-x: scroll;
  background-color: $blue;
}

code {
  font-size:0.8em;
  line-height:$base-height*0.8;
  font-family:'Anonymous Pro', 'Bitstream Vera Sans', 'Monaco', Courier;
}

p, ul {
  margin:$base-height / 2;
}

li {
  padding:0.3em 1.2em;
  list-style:none;
  text-indent:-0.8em;
  &:hover {
    background-color:$blue;
    border-radius:0.3em;
    &:before {
      content:'\7E\A0\A0';
    }
  }
  &:before {
    content:'\BB\A0\A0';
  }
}

hr {
  clear:both;
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom:1px solid lighten(black,60);
}

#top-header {
  & a {
    color:lighten(black,60);
    text-decoration:none;
    &:hover {
      color:white;
    }
  }
  & h1 {
    font-size:2em;
    line-height:0.5em;
  }
}

.active-link {
  color:$orange !important;
}

.title a {
  text-decoration:none;
  &:hover {
    color:$orange !important;
    background:none;
    text-decoration:underline;
  }
}

.link-list a {
  color:black;
  text-decoration:none;
}

.link-list li:hover, .link-list a:hover {
  color:$orange;
  background-color:$blue;
  opacity:1;
  border-radius:0.3em;
  cursor:pointer;
}

.back-link {
  padding: 0;
  color: lighten(black,60);
  text-decoration: none;
  position: absolute;
  left: 10em;
  top: 8em;
  font-size: 0.5em;
  &:hover {
    color:$orange;
    background:none;
  }
}

.large {
  font-size:3em;
  line-height:1em;
  padding-left:0;
}

.date {
  font-style:italic;
  color:lighten(black,60);
}

.sample {
  padding:1em;
  &:hover {
    background-color:$blue;
    cursor:pointer;
    border-radius:0.3em;
  }
}
