@mixin font($size, $height, $color: black, $decoration:none, $family: 'Sanchez', $style: normal) {
  font-size: $size;
  line-height: $height;
  color:$color;
  text-decoration:$decoration;
  font-family: $family;
  font-style: $style;
}

$base-size: 20px;
$base-height: 30px;

html {
  @include font($base-size,$base-height);
}

a {
  @include font($base-size,$base-height,#b83000);
  &:hover {
    text-decoration: underline;
    opacity:1;
  }
  #top-header h2 & {
    padding-left:0 15px 0 15px;
    opacity:0.6;
  }
  #top-header h1 & {
    padding-right:15px;
    @include font($base-size*2,$base-height*2);
  }
  #entrance & {
    @include font($base-size,60px);
    border-radius:10px;
  }
  #entrance &:hover {
    color:white;
    background-color:#b83000;
    opacity:0.6;
  }
  h1 & {
    @include font($base-size,$base-height);
  }
}

h1, h2, h3, h4 {
  display: inline;
  margin: 0;
  font-weight: 600;
}

footer {
  @include font(18px,27px,#888);
	font-style: italic;
  opacity:0.6;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.8), rgba(0,0,0,0.5), rgba(0,0,0,0)); 
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0.8), rgba(0,0,0,0.5), rgba(0,0,0,0)); 
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0.8), rgba(0,0,0,0.5), rgba(0,0,0,0)); 
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0.8), rgba(0,0,0,0.5), rgba(0,0,0,0)); 
}

pre {
  margin:1em;
  padding:1em;
  overflow-x:scroll;
  background-color:rgba(232,239,251,1)
}
code {
  @include font($base-size*0.8,$base-height*0.8,black,('Anonymous Pro', 'Bitstream Vera Sans', 'Monaco', Courier, mono));
}

#bookshelf, #links {
  margin-bottom:1em;
  h3 {
    text-decoration:underline;
    line-height:2em;
  }
  ul {
    font-style:italic;
  }
  a {
    padding-left:1.6em;
    &:hover {
      background-image:url('/link.png');
      background-repeat:no-repeat;
    }
  }
}
