<a href="/blog" class="back-link" rel="no-follow">&laquo;&nbsp;go back</a>
<article class="full-article" id="<%= article.slug %>">
  <h1 class="title"><%= article.title %></h1>
  <span class="date"><%= Date.parse(article.date).strftime("%b %e, %Y") %></span>
  <hr />
  <%= article.content %>
</article>
