<!doctype html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Sanchez:400italic,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/screen.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title><%= title %></title>
  </head>
  <body>
    <section>
      <%= yield %> 
    </section>
    <footer>
    &copy; 2012 by Jared Davis. Contact via Twitter <a href="https://www.twitter.com/haiqus">@haiqus</a>. site powered by <a href="http://cloudhead.io/toto">toto</a>
    </footer>
  </body>
</html>

